<% if user_signed_in? %>
    <h1>Welcome <br></h1>

<%= link_to 'Modal', new_page_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
    
    <p><%= current_user.first_name %> <%= current_user.last_name %></p>

<% else %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to our Site</h1>
        <p>Demo App</p>
        <ul class="list-unstyled">
        </ul>
      </div>
    </div>
  </div>
<% end %>
