<% if user_signed_in? %>
    <h1>Welcome <br></h1>
    <p><%= current_user.first_name %> <%= current_user.last_name %></p>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to our Site</h1>
        <p>Demo App</p>
        <ul class="list-unstyled">
        </ul>
      </div>
    </div>
  </div>
<% end %>
