// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/  
th{
    padding: 5px;
    padding-left: 55px;
    width:50px;
    text-align: left;
}
td{
    width: auto;
    text-align: left;
}